


<!--Template que irá conter o formulário de inserção de comentários-->
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale 1.0">
        <meta http-equiv="X-UA Compatible" content="IE=edge">
        <title>Rede Social</title>
    </head>


    <body>

        <!--Ira receber o id da postagem e irá inserir no servidor
        o comentário do post-->
        <form method="post">

            {%csrf_token%}

            {{form.as_p}}
            <button type="submit"> Publicar Comentário</button>
        </form>

    </body>
</html>