



<!--Template da página principal da rede social que ira conter 
as postagens de todos os usuários-->
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale 1.0">
        <meta http-equiv="X-UA Compatible" content="IE=edge">

        <title>Rede Social</title>

        <!--Link do CSS do bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

        <!--Como precisamos fazer pequenos ajustes nos links e na lista do menu de navegação, vamos criar um arquivo CSS para realizar essas mudanças.-->

        <!--Como o CSS é um arquivo estático, precisamos criar esse arquivo em uma outra pasta(a pasta static), dito isso, precisamos carregar essa pasta no arquivo html que iremos
        aplicar o css. -->

        <!--Carregando a pasta no arquivo-->
        {%load static%}

        <!--link para o css do index.-->
        <link rel="stylesheet" href="{%static 'redesocial/index.css'%}">
    </head>

    <body>

        <!--Ira acessar a variável do template que contém mensagens de boas vindas 
        usando o nome do usuário logado.-->
        <p class="h4 mb-4">{{mensagem_usuario}}</p>
        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">Menu de navegação</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

        
            <ul class="navbar-nav ms-auto">
                <!--Link para a página de perfil do usuário logado-->
                <li class="nav-item"><a href="{%url 'minhaconta'%}" class="nav-link active">Visualize a sua conta</a></li>

                <!--Link para a página de login dos usuários-->
                <li class="nav-item"><a href="{%url 'loginusuario'%}">Faça login e acesse a sua conta</li>

                <!--Link para a página de seguidores do usuário-->
                <li class="nav-item"><a href="{%url 'meus_seguidores'%}" class="nav-link active">Visualize os seus seguidores</a></li>

                <!--Link para a página de contas que o usuário segue-->
                <li class="nav-item"><a href="{%url 'quem_sigo'%}" class="nav-link active">Visualize as contas que você segue</a></li>

                <!--Link para a página de criação de posts do usuário que está logado.-->
                <li class="nav-item"><a href="{%url 'posts'%}" class="nav-link active" >Faça uma postagem</a></li>

                <!--Link para a página de criação de contas/páginas-->
                <li class="nav-item"><a href="{%url 'criarconta'%}" class="nav-link active">Ja possui um login, mas não tem uma conta? Clique aqui</a></li>
                
                <!--Link para a página de postagens de contas que o usuário segue-->
                <li class="nav-item"><a href="{%url 'postagem_seguindo'%}" class="nav-link active">Ver apenas postagens de contas que você segue</a></li>

                <!--Ira conter o link paea a view que encerra a sessão do usuário-->
                <li class="nav-item"><a href="{%url 'logoutusuario'%}" class="nav-link active">Sair da rede social</a></li>
                <!--Agora iremos iniciar o processo de mostrar na tela todos os
                dados da tabela de postagens do nosso sistema. Primeiro, Vamos verificar se há existência de posts no sistema para ser mostrado-->
            </ul>
            </div>
          </div>
        </nav>


        <div class="container mt-4">

            {%if post%}

            <!--Caso exista postagens no sistema, vamos percorrer a tabela de posts com o objetivo de acessar as suas colunas
             e imprimir os seus dados.-->
             <div class="row row-cols-1 g-4">
                {%for posts in post%}

                  <div class="col-lg-6 offset-lg-3">

                    <div class="card shadow">

                        <div class="card-body">

                            <h5 class="card-title mb-2">{{posts.dono_postagem.nome}}</h5>

                        <!--Cada postagem terá a sua própria sessão para podermos 
                        diferenciar as postagens-->
                        <section>

                            <!--Como a inserção de um texto não é obrigatória,
                            vamos verificar se o usuário inseriu um texto para
                            a sua publicação-->
                            {%if posts.texto%}
                                <!--Se o usuário inserir um texto, iremos acessar os valores da coluna texto da tabela Post-->
                                <p class="card-text">{{posts.texto}}</p>

                            {%else%}

                                <!--Caso o usuário nao insira um texto, iremos mostrar essa mensagem padrão-->
                                <p class="card-text">Não há texto na publicação</p>

                            {%endif%}
                            <!--Como as imagens não são atributos obrigatórios, vamos primeiro verificar se a conta do usuário postou uma imagem em sua publicação-->
                            {%if posts.imagem_postagem%}

                            <!--Se a publicação tiver alguma imagem, iremos mostra-la usando a tag img do html com o caminho da pasta de imagens do nosso servidor-->
                                <p><img class="img-fluid rounded mb-3" src="{{posts.imagem_postagem.url}}" alt="Foto da postagem"></p>

                            <!--fim da estrutura if-->
                            {%endif%}

                            <!--Como a inserção de videos não é obrigatória,
                            vamos verificar se o usuário fez a postagem de
                            um video-->
                            {%if posts.video%}

                                <!--Se o usuario postar um video, iremos 
                                mostra-lo através da tag video do HTML,
                                que irá conter o caminho da pasta de imagens 
                                do nosso servidor.
                                Observação: para o video funcionar é necessário 
                                adicionar o atributo controls que irá adicionar
                                os controles de video.-->
                                <div class="ratio ratio-16x9 mb-3">
                                  <video class="w-100" src="{{posts.video.url}}" controls ></video><br>
                                </div>
                            <!--Fim da estrutura if-->
                            {%endif%}
                            
                            <!--Linhas divisórias-->
                            <hr>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <!--Irá acessar os valores da coluna curtidas da tabela Post-->
                                <span class="text-muted small"><p>Likes: {{posts.curtidas}}</p></span>

                                <!--Irá acessar os valores da coluna nao_curtidas da tabela Post-->
                                <span class="text-muted small"><p>Deslikes: {{posts.nao_curtidas}}</p></span>

                                <!--Irá acessar os valores da coluna quantidade_comentarios da tabela Post-->
                                <span class="text-muted small"><p>{{posts.quantidade_comentarios}} Comentários</p></span>

                            </div>

                            
                            
                            <!--Criação dos botões de interação entre o usuário e a postagem-->

                            <!--Formulário que irá conter o botão de curtir postagens do sistema.
                            O formulário deverá conter o link para a view curtir e um método post
                            de envio de requisições a servidores.-->
                        <div class="d-grid gap-2">
                          <form action="{%url 'curtir'%}" method="post">
                                
                                <!--token que irá bloquear requisições que não são do nosso
                                sistema.-->
                                {%csrf_token%}
                                <!--Input invisivel de nome post_id que ira conter como valor
                                o id da postagem que o usuário está curtindo-->
                                <input type="hidden" name="post_id" value="{{posts.id}}">

                                <!--Botão que irá enviar a requisição ao servidor do sistema.-->
                                <button type="submit" class="btn btn-outline-primary btn-sm w-100">Curtir</button>
                            
                            </form>

                            <!--Formulário que irá conter o botão de 'não curtir' postagens do sistema.
                            O formulário deverá conter o link para a view nao_curtir e um método post
                            de envio de requisições a servidores.-->
                            <form action="{%url 'nao_curtir'%}" method="post">

                                <!--Token que irá bloquear requisições que não são do nosso
                                sistema.-->
                                {%csrf_token%}

                                <!--Input invisivel de nome nao_curtir_post que terá como valor
                                o id da postagem que esta recebendo 'deslike'.-->
                                <input type="hidden" name="nao_curtir_post" value="{{posts.id}}">

                                <!--Botão que irá enviar a requisição ao sistema.-->
                                <button type="submit" class="btn btn-outline-secondary btn-sm w-100">Não curtir</button>

                            </form>

                            <!--Link para o formulário de comentários do post acessado pelo usuário.
                            O link deve conter o id da postagem acessada-->
                            <a href="{%url 'comentar_publicacao' posts.id%}">
                                
                            <!--Botão que irá transferir o usuário para a página de formulário
                            de comentários-->
                            <button class="btn btn-outline-info btn-sm w-100" type="button">Comentar Publicação</button>
                            
                            </a>

                            <!--Link para a página de comentários da postagem. O link deve conter
                            o id da postagem acessada-->
                            <a href="{%url 'ver_comentarios' posts.id%}">

                                <!--Botão que irá transferir o usuário para a página que contém os 
                                comentários-->
                                <button class="btn btn-outline-dark btn-sm w-100" type="button"> Ver comentários</button>
                            </a>

                        </div>
                            <!--Formulário que irá conter o botão de seguir as contas
                            da rede social. O form devera conter o link para a view 'seguir'
                            e o metodo post para envio de dados ao servidor-->
                        <div class="d-grid gap-2">
                            <form action="{%url 'seguir'%}" method="post">

                                <!--Token que irá bloquear requisições que não são do nosso sistema.-->
                                {%csrf_token%}
                                <!--Input invisivel de nome id_conta que irá ter como valor o id da conta
                                que o usuário irá seguir.-->
                                <input type="hidden" name="id_conta" value="{{posts.dono_postagem.id}}">

                                <!--Botão que irá enviar a requisição ao sistema.-->
                                <button class="btn btn-success btn-sm w-100" type="submit">Seguir</button>
                                
                            </form>

                            <!--Form que irá conter o botão para deixar de seguir uma conta.
                            O form devera conter o link para a view 'deixar_de_seguir' e O
                            metodo post de envio de dados para o servidor.-->
                            <form action="{%url 'deixar_de_seguir'%}" method="post">

                                <!--Token que irá bloquear requisições que não são do nosso sistema.-->
                                {%csrf_token%}

                                <!--Input invisivel de nome id_conta que irá conter como valor o id da conta
                                que o usuário ira deixar de seguir.-->
                                <input type="hidden" name="id_conta" value="{{posts.dono_postagem.id}}">

                                <!--Botão que envia a requisição ao servidor-->
                                <button class = "btn btn-danger btn-sm w-100" type="submit">Deixar de seguir</button>
                                
                            </form>

                            <!--Link para a página que irá conter os nomes das contas que uma determinada
                            conta segue. O link devera conter o id da conta que o usuário quer verificar
                            os seguidores.-->
                            <a href="{%url 'seguidores_pagina' posts.dono_postagem.id%}">


                                <!--Botão que irá transferir o usuário para a página de seguidores de uma
                                conta.-->
                                <button class="btn btn-light btn-sm w-100 border" type="submit">Ver seguidores da página</button>

                            </a>

                            <!--Link para a página de contas que uma determinada página segue.
                            O link deve conter o id da conta acessada pelo usuário.-->
                            <a href="{%url 'quem_segue' posts.dono_postagem.id%}">

                                <!--Botão que irá enviar a requisição ao sistema.-->
                                <button class="btn btn-light btn-sm w-100 border" type="submit">Ver quem a página segue</button>

                            </a>

                            <!--Link para a página de perfil da conta acessafa pelo usuário.
                            O link deve conter o id da conta que fez a postagem -->
                            <a href="{%url 'ver_perfil' posts.dono_postagem.id%}">

                                <!--Botão que irá enviar a requisição ao servidor do sistema-->
                                <button class="btn btn-primary btn-sm w-100" type="submit">Ver perfil da página</button>
                            </a>
                            
                        </section>
                       </div>
                     </div>
                   </div>
                </div>

                <!--Fim do for-->
                {%endfor%}
            </div>
                    
                {%else%}
                        <!--Se por algum motivo não houver mais postagens, 
                        iremos exibir essa mensagem padrão-->
                        <div class="alert alert-info text-center mt-4" role="alert">

                          <p>Ainda não há postagens no site</p>

                        </div>

                        <!--Fim da estrutura if-->
                {%endif%}
                
                <!--Link do javascript do bootstrapque lida com os elementos animados das páginas como a mudança de cor
                dos botões.-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

        </body>
</html>