

<!--Template do formulário de login-->
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale 1.0">

        <meta http-equiv="X-UA Compatible" content="IE=edge">

        <title>Rede Social</title>


    </head>



    <body>

        <form action="{%url 'loginusuario'%}" method="post">

            {%csrf_token%}

            {{form.as_p}}


            <button type="submit">Entrar</button>
            
        </form>

        <p><a href="{%url 'criarusuario'%}">Não tem um login? clique aqui</a></p>

        <p><a href="{%url 'index'%}">Voltar a página inicial</a></p>
    </body>
</html>