

<!--Template do perfil do usuário-->
<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale 1.0">
        <meta http-equiv="X-UA Compatible" content="IE=edge">
        <title>Rede Social</title>
    </head>

    <body>

        <h1>{{nome_usuario}}</h1>

         {%if conta.foto_perfil%}

            <img src="{{conta.foto_perfil.url}}" alt="foto de perfil">

         {%endif%}
          
         <h2>Biografia</h2>
         {%if conta.biografia%}

            <p>{{conta.biografia}}</p>
        
        {%else%}
            <p>Não há biografia</p>
        
        {%endif%}

        <h2>Interesses</h2>
         
        {%if conta.interesses%}

            <p>{{conta.interesses}}</p>
        
        {%else%}

            <p>Não há biografia</p>
        
        
        {%endif%}

        <h2>Estado civil</h2>
        {%if conta.estado_civil%}

            <p>{{conta.estado_civil}}</p>
        
        {%else%}

            <p>Não há estado civil</p>

        {%endif%}
           
        <p><strong>{{conta.numero_seguidores}} seguidores</strong></p>
        
        <p><strong>{{conta.numero_seguindo}}seguindo</strong></p>


        {%if posts%}

            {%for post in posts%}

                <section>
                    {%if post.texto%}

                        <p>{{post.texto}}</p>

                    {%else%}
                        <p>A publicação não tem um texto</p>
                    {%endif%}

                    {%if post.imagem_postagem%}

                        <img src="{{post.imagem_postagem.url}}" alt="Imagem da postagem">

                    {%endif%}

                    {%if post.video%}

                        <video src="{{post.video.url}}" controls></video><br>

                    {%endif%}

                    <p>Likes: {{post.curtidas}}</p>
                    <p>Deslikes: {{post.nao_curtidas}}</p>
                    <p>{{post.quantidade_comentarios}} comentários</p>

                    <button type="submit">Curtir</button>
                    <button type="submit">Não curtir</button>
                    <button type="submit">Comentar publicação</button>
                    <button type="submit"> Ver comentários</buton>
                    <button type="submit"> Seguir</button>
                    <button type="submit">Deixar de seguir</button>

                </section>
                
            {%endfor%}
        {%else%}
            <p>Você ainda não fez nenhuma postagem</p>
        {%endif%}
        <section>

        </section>
    </body>
</html>