


<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale 1.0">
        <meta http-equiv="X-UA Compatible" content="IE=edge">
        <title>Rede Social</title>
    </head>

    <body>

        <h1>{{mensagem_quem_sigo}}</h1>

        <p>você segue {{numero_seguindo}} páginas</p>

        {%if seguindo%}

            {%for me_segue in seguindo%}

                <p>{{me_segue.nome}}</p>

            {%endfor%}

        {%else%}

            <p>Você ainda não segue ninguem</p>
        {%endif%}

        <p><a href="{%url 'index'%}">Voltar a página inicial</a></p>
    </body>
</html>